[Unit]
Description=Daemon for controlling servo controller via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/servod /etc/servod/%i.json

[Install]
WantedBy=multi-user.target
